@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@using MHData.Entity;
    
<div class="row">
    <div class="col-md-12">
      <input type="radio" value="All"  />
        <a onclick= "GetSelectDesireToPrint()" class="btn btn-link">Print Selected</a>
        @*@Html.ActionLink("Print All Data", "ExportData", "Report", new {onclick= "GetSelectDesireToPrint();" });
    </div>*@
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_FilterOptions"); 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divReportListView">
            @Html.Partial("_ListView");
            
        </div>
    </div>
</div>
